<a href="https://colab.research.google.com/github/SaidTheCoder/c140/blob/main/c138_140_Movie_Recomendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving kaggle.json to kaggle (1).json

In [34]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [76]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

tmdb-movie-metadata.zip: Skipping, found more recently modified local copy (use --force to force download)

In [77]:
!ls

'kaggle (1).json'   sample_data		    tmdb_5000_movies.csv
 kaggle.json	    tmdb_5000_credits.csv   tmdb-movie-metadata.zip

In [78]:
!unzip tmdb-movie-metadata.zip

Archive:  tmdb-movie-metadata.zip
replace tmdb_5000_credits.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: tmdb_5000_credits.csv
replace tmdb_5000_movies.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: tmdb_5000_movies.csv

In [79]:
!ls

'kaggle (1).json'   sample_data		    tmdb_5000_movies.csv
 kaggle.json	    tmdb_5000_credits.csv   tmdb-movie-metadata.zip

In [80]:
import pandas as pd
df1=pd.read_csv("tmdb_5000_movies.csv")
df1.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [81]:
df2=pd.read_csv("tmdb_5000_credits.csv")
df2.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [82]:
df2.columns=["id","title","cast","crew"]
df1=df1.merge(df2,on="id")
df1.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [83]:
#C139
C=df1["vote_average"].mean()
print(C)

6.092171559442011

In [84]:
m=df1["vote_count"].quantile(0.9)
print(m)

1838.4000000000015

In [85]:
q_movies=df1.copy().loc[df1["vote_count"]>=m]
print(q_movies.shape)

(481, 23)

In [86]:
def weighted_rating(x,m=m,C=C):
  v=x["vote_count"]
  R=x["vote_average"]
  return (v / (v + m)) *R + (m / (v + m)) *C  
q_movies["score"]=q_movies.apply(weighted_rating,axis=1)
q_movies=q_movies.sort_values("score",ascending=False)
q_movies[["original_title","vote_count","vote_average","score"]].head(10)

                                     original_title  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]

In [87]:
import plotly.express as px
fig=px.bar((q_movies.head(10).sort_values("score",ascending=False)),x="score",y="original_title",orientation="h")
fig.show()

In [88]:
#c140
df1[['original_title','cast','crew','keywords','genres']].head(10)

                             original_title  ...                                             genres
0                                    Avatar  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  Pirates of the Caribbean: At World's End  ...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2                                   Spectre  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3                     The Dark Knight Rises  ...  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4                               John Carter  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5                              Spider-Man 3  ...  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6                                   Tangled  ...  [{"id": 16, "name": "Animation"}, {"id": 10751...
7                   Avengers: Age of Ultron  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8    Harry Potter and the Half-Blood Prince  ...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9        Batman v Superman: Dawn of Justice  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

[10 rows x 5 columns]

In [89]:
from ast import literal_eval
features=["cast","crew","keywords","genres"]
for feature in features:
  df1[feature]=df1[feature].apply(literal_eval)
df1.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
title_y                  object
cast                     object
crew                     object
dtype: object

In [90]:
import numpy as np

def get_director(x):
  for i in x:
    if i["job"]=="Director":
      return i["name"]
  return np.nan
df1["director"]=df1["crew"].apply(get_director)
df1.head(10)

      budget  ...           director
0  237000000  ...      James Cameron
1  300000000  ...     Gore Verbinski
2  245000000  ...         Sam Mendes
3  250000000  ...  Christopher Nolan
4  260000000  ...     Andrew Stanton
5  258000000  ...          Sam Raimi
6  260000000  ...       Byron Howard
7  280000000  ...        Joss Whedon
8  250000000  ...        David Yates
9  250000000  ...        Zack Snyder

[10 rows x 24 columns]

In [91]:
def get_list(x):
  if isinstance(x,list):
    names=[i['name'] for i in x] 
    return names
  return [ ]
features=["cast","keywords","genres"]
for feature in features:
  df1[feature]=df1[feature].apply(get_list)
df1.head()

      budget  ...           director
0  237000000  ...      James Cameron
1  300000000  ...     Gore Verbinski
2  245000000  ...         Sam Mendes
3  250000000  ...  Christopher Nolan
4  260000000  ...     Andrew Stanton

[5 rows x 24 columns]

In [94]:
df1[["original_title","cast","director","keywords","genres"]].head()

                             original_title  ...                                         genres
0                                    Avatar  ...  [Action, Adventure, Fantasy, Science Fiction]
1  Pirates of the Caribbean: At World's End  ...                   [Adventure, Fantasy, Action]
2                                   Spectre  ...                     [Action, Adventure, Crime]
3                     The Dark Knight Rises  ...               [Action, Crime, Drama, Thriller]
4                               John Carter  ...           [Action, Adventure, Science Fiction]

[5 rows x 5 columns]

In [95]:
def clean_data(x):
  if isinstance(x,list):
    return[str.lower(i.replace(" ","")) for i in x]
  else:
    if isinstance(x,str):
      return str.lower(x.replace(" ","")) 
    else:
      return ""
features=["cast","keywords","director","genres"]
for feature in features:
  df1[feature]=df1[feature].apply(clean_data)
df1.head()

      budget  ...          director
0  237000000  ...      jamescameron
1  300000000  ...     goreverbinski
2  245000000  ...         sammendes
3  250000000  ...  christophernolan
4  260000000  ...     andrewstanton

[5 rows x 24 columns]

In [99]:
a=["hello","how","r","u",":D"]
"_".join(a)

'hello_how_r_u_:D'

In [102]:
def create_soup(x):
  return " ".join(x["keywords"])+" ".join(x["cast"])+" ".join(x["director"])+" ".join(x["genres"])
df1["soup"]=df1.apply(create_soup,axis=1)
df1.head()

      budget  ...                                               soup
0  237000000  ...  cultureclash future spacewar spacecolony socie...
1  300000000  ...  ocean drugabuse exoticisland eastindiatradingc...
2  245000000  ...  spy basedonnovel secretagent sequel mi6 britis...
3  250000000  ...  dccomics crimefighter terrorist secretidentity...
4  260000000  ...  basedonnovel mars medallion spacetravel prince...

[5 rows x 25 columns]

In [104]:
from sklearn.feature_extraction.text import CountVectorizer
count=CountVectorizer(stop_words="english")
count_matrix=count.fit_transform(df1["soup"])
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2=cosine_similarity(count_matrix,count_matrix)
df1=df1.reset_index()
indices=pd.Series(df1.index,index=df1["original_title"])

In [107]:
def get_recomendations(title,cosine_sim):
  idx=indices[title]
  sim_scores=list(enumerate(cosine_sim[idx]))
  sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True)
  sim_scores=sim_scores[1:11]
  movie_indices=[i[0]for i in sim_scores]
  return df1["original_title"].iloc[movie_indices]

In [112]:
get_recomendations("The Matrix",cosine_sim2)

123                 The Matrix Revolutions
125                    The Matrix Reloaded
93      Terminator 3: Rise of the Machines
43                    Terminator Salvation
4032                          Sleep Dealer
1079                                  Dune
363           A.I. Artificial Intelligence
487                             Red Planet
1725                          Blade Runner
266                               I, Robot
Name: original_title, dtype: object

In [111]:
get_recomendations("Interstellar",cosine_sim2)

4332                    Silent Running
635                          Apollo 13
3405        Stargate: The Ark of Truth
3624                              Moon
643                      Space Cowboys
239                            Gravity
228                           Oblivion
335     Rise of the Planet of the Apes
2292     Thomas and the Magic Railroad
3043                  End of the Spear
Name: original_title, dtype: object